table  {
    border: 1px solid white;
    border-collapse: collapse;
}

th  {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 15px;
    background-color: #BCECFB;
}

td{
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}

.passed{
    color:green;
    background-color:PaleGreen;
    text-align: center;
}

.passed:after {

    background-color:PaleGreen;
    content:"\002714";
    text-align: center;
    color:green;
}

.callFailed{
    color:red;
    background-color:Salmon;
}
.callPassed{
    color:green;
    background-color:PaleGreen;
}

.failed {
    color:red;
    background-color:Salmon;
    text-align: center;
}

.failed:after {
    color:red;
    background-color:Salmon;
    content:"❌";
    text-align: center;
}

.missing{
    text-align: center;
    color:red;
    background-color:#ffcccc;
}

.headerWidth{
    width: 20px;
}

.table-responsive{
    padding:30px;
}

.scenarioName{
    color:black;
}

.callLegs{
    text-align:center;
}


