
.panelWidth{
    width:700px;
    margin:20px
}

.callLegPassed{
    background-color:lightgreen;
    font-weight:bold;
}

.callLegFailed{
    background-color:#d89090;
    font-weight:bold;
}

.callbackEventPassed{
    background-color:#cff5ce;

}

.callbackEventFailed{
    background-color:#e8bdbd ;
}


